<a routerLink="create">Crear categoría</a>

<div class="categories" *ngIf="categories$ | async as categories">
  <mat-card *ngFor="let category of categories">
    <mat-card-header>
      <mat-card-title>{{category.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <img [src]="category.image" alt="category image">
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="edit/{{category.id}}">Editar</button>
      <button mat-raised-button color="warn" (click)="deleteCategory(category.id)">Eliminar</button>
    </mat-card-actions>
  </mat-card>
</div>
