<form [formGroup]="form" (ngSubmit)="save()">
  <div formGroupName="fullname">
    <p>
      First Name: {{ nameField.value }}
      <input
        [class.is-valid]="isNameValid"
        [class.is-invalid]="isNameInvalid"
        type="text"
        formControlName="name"
      />
      <button [disabled]="nameField.invalid" (click)="getNameValue()">
        Get Value
      </button>
      <!--
      Para mostrar un json estructuradamente se puede utilizar la siguiente estructura
      <code>
        <pre>{{ nameField | json }}</pre>
      </code>-->
    </p>

    <div class="messages" [class.active]="nameField.invalid">
      <p>
        <!--Touched se activa cuando el usuario ha pasado por el campo y ha dejado de hacer focus en él-->
        <strong *ngIf="nameField.touched && nameField.hasError('required')"
          >Este campo es requerido</strong
        >
      </p>

      <p>
        <!--Dirty se activa cuando el usuario ha modificado el valor del campo aunque no haya salido del focus-->
        <strong *ngIf="nameField.dirty && nameField.hasError('maxlength')"
          >No se puede introducir más de 10 caracteres</strong
        >
      </p>

      <p>
        <!--Dirty se activa cuando el usuario ha modificado el valor del campo aunque no haya salido del focus-->
        <strong *ngIf="nameField.dirty && nameField.hasError('pattern')"
          >No debe tener caracteres extraños</strong
        >
      </p>
    </div>

    <p>
      Last Name: {{ lastField.value }}
      <input type="text" formControlName="last" />
    </p>

    <div class="messages" [class.active]="lastField.invalid">
      <p>
        <!--Touched se activa cuando el usuario ha pasado por el campo y ha dejado de hacer focus en él-->
        <strong *ngIf="lastField.touched && lastField.hasError('required')"
          >Este campo es requerido</strong
        >
      </p>

      <p>
        <!--Dirty se activa cuando el usuario ha modificado el valor del campo aunque no haya salido del focus-->
        <strong *ngIf="lastField.dirty && lastField.hasError('maxlength')"
          >No se puede introducir más de 10 caracteres</strong
        >
      </p>

      <p>
        <!--Dirty se activa cuando el usuario ha modificado el valor del campo aunque no haya salido del focus-->
        <strong *ngIf="lastField.dirty && lastField.hasError('pattern')"
          >No debe tener caracteres extraños</strong
        >
      </p>
    </div>
  </div>

  <p>
    Email: {{ emailField.value }}
    <input type="email" formControlName="email" />
  </p>

  <div class="messages" [class.active]="emailField.invalid">
    <p>
      <strong *ngIf="emailField.touched && emailField.hasError('required')"
        >Este campo es requerido</strong
      >
    </p>

    <p>
      <strong *ngIf="emailField.dirty && emailField.hasError('email')"
        >Esto no es un email válido</strong
      >
    </p>
  </div>

  <p>
    Phone: {{ phoneField.value }}
    <input
      [class.is-valid]="isPhoneValid"
      [class.is-invalid]="isPhoneInvalid"
      type="tel"
      formControlName="phone"
    />
  </p>

  <div class="messages" [class.active]="isPhoneInvalid">
    <p>
      <strong *ngIf="phoneField.touched && phoneField.hasError('required')"
        >Este campo es requerido</strong
      >
    </p>
  </div>

  <p>
    Color: {{ colorField.value }}
    <input type="color" formControlName="color" />
  </p>

  <p>
    Age: {{ numberField.value }}
    <input type="number" formControlName="number" />
  </p>

  <div class="messages" [class.active]="numberField.invalid">
    <p>
      <strong *ngIf="numberField.touched && numberField.hasError('required')"
        >Este campo es requerido</strong
      >
    </p>

    <p>
      <strong *ngIf="numberField.dirty && numberField.hasError('min')"
        >Debe ser mayor de edad</strong
      >
    </p>

    <p>
      <strong *ngIf="numberField.dirty && numberField.hasError('max')"
        >Debe ser menor de 100 años</strong
      >
    </p>
  </div>

  <p>
    Date: {{ dateField.value }}
    <input type="date" formControlName="date" />
  </p>

  <p>
    Month: {{ monthField.value }}
    <input type="month" formControlName="month" />
  </p>

  <p>
    Week: {{ weekField.value }}
    <input type="week" formControlName="week" />
  </p>

  <p>
    Range: {{ rangeField.value }}
    <input type="range" formControlName="range" />
  </p>

  <p>
    Date time Local: {{ dateLocalField.value }}
    <input type="datetime-local" formControlName="dateLocal" />
  </p>

  <p>
    Search: {{ searchField.value }}
    <input type="search" formControlName="search" />
  </p>

  <p>
    Category: {{ categoryField.value }}
    <select formControlName="category">
      <option value="category-1">Category 1</option>
      <option value="category-2">Category 2</option>
      <option value="category-3">Category 3</option>
      <option value="category-4">Category 4</option>
    </select>
  </p>

  <p>
    Tags: {{ tagField.value }}
    <select formControlName="tag" multiple>
      <option value="tag-1">Tag 1</option>
      <option value="tag-2">Tag 2</option>
      <option value="tag-3">Tag 3</option>
      <option value="tag-4">Tag 4</option>
    </select>
  </p>

  <p>
    Agree: {{ agreeField.value }}
    <input type="checkbox" formControlName="agree" />
  </p>

  <div class="messages" [class.active]="agreeField.invalid">
    <p>
      <strong *ngIf="agreeField.hasError('required')"
        >Tienes que aceptar los términos y condiciones</strong
      >
    </p>
  </div>

  <p>
    Gender: {{ genderField.value }}
    <label>
      <input name="gender" type="radio" value="male" formControlName="gender" />
      Male
    </label>
    <label>
      <input
        name="gender"
        type="radio"
        value="female"
        formControlName="gender"
      />
      Female
    </label>
    <label>
      <input
        name="gender"
        type="radio"
        value="other"
        formControlName="gender"
      />
      Other
    </label>
  </p>

  <p>
    Zone: {{ zoneField.value }}
    <label>
      <input name="zone" type="radio" value="zona-1" formControlName="zone" />
      Zona 1
    </label>
    <label>
      <input name="zone" type="radio" value="zona-2" formControlName="zone" />
      Zona 2
    </label>
    <label>
      <input name="zone" type="radio" value="zona-3" formControlName="zone" />
      Zona 3
    </label>
  </p>

  <p>
    <button type="submit">Enviar</button>
  </p>
</form>
