<form [formGroup]="form" (ngSubmit)="register($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field class="mat-form-field">
            <mat-label>Email</mat-label>
            <input
              placeholder="email"
              formControlName="email"
              matInput
              type="email"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field class="mat-form-field">
            <mat-label>Password</mat-label>
            <input
              placeholder="password"
              formControlName="password"
              matInput
              type="password"
            />
            <div *ngIf="passwordField.dirty && passwordField.invalid">
              <mat-error *ngIf="passwordField.hasError('password_invalid')"
                >Must have a number</mat-error
              >
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field class="mat-form-field">
            <mat-label>Confirm Password</mat-label>
            <input
              placeholder="password"
              formControlName="confirmPassword"
              matInput
              type="password"
            />
            <div *ngIf="confirmPasswordField.dirty && form.errors">
              <mat-error *ngIf="form.hasError('passwords_do_not_match')"
                >Passwords must match</mat-error
              >
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-radio-group
            formControlName="type"
            aria-label="Selecciona una opción"
          >
            <mat-radio-button value="company">Company</mat-radio-button>
            <mat-radio-button value="customer">Customer</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field class="mat-form-field">
            <mat-label>Company Name</mat-label>
            <input
              placeholder="company"
              formControlName="companyName"
              matInput
              type="text"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="mat-card-actions">
      <button [disabled]="form.invalid" mat-raised-button type="submit">
        Registro
      </button>
    </mat-card-actions>
  </mat-card>
</form>
